.signIn-container {
    background-color: rgb(163, 184, 229);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
}

.signIn-form {
    margin-top: 1.2em;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}

input {
    margin: 0.5rem;
    padding: 5px;
    width: 100%;
}

.submit-btn {
    width: 75px;
    margin: 1rem;
}

.login-heading{
    font-size: 2em;
}