.newsfeed-container {
    width: 100%;
    margin: 10px;
}
.search-input {
    width: 500px;
}
.search-button {
    background-color: rgb(163, 160, 160);
    border-radius: 6px;
    height: 30px;
    padding: 4px;
}
.news-card {
    background-color: lightblue;
    width: auto;
    border-radius: 15px;
    padding: 6px;
    margin: 8px;
}
