.profile-container {
    display: flex;
}

.content {
    flex-grow: 1;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        /* Change to a column layout on smaller screens */
    }

    .content {
        order: 2;
        /* Place main content below the sidebar on smaller screens */
    }
}