.navbar {
    background-color: rgb(58, 118, 137);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  
  .nav-item i {
    font-size: 24px;
    margin-bottom: 5px;
  }  